Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterEnum:       true
  AfterClass:      false
  AfterStruct:     false
  AfterUnion:      false
  AfterFunction:   false
  AfterNamespace:  false
  # AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: AfterColon
BreakBeforeTernaryOperators: true
ColumnLimit:     120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
CompactNamespaces: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
TabWidth: 4
SortIncludes: true
