[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = git@github.com:Cyan4973/xxHash.git
[submodule "third_party/utfcpp"]
	path = third_party/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
