---
# Narrow override for OpenFAM-compatible mock headers.
InheritParentConfig: true
Checks: >
    -cppcoreguidelines-avoid-c-arrays,
    -bugprone-easily-swappable-parameters,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers

CheckOptions:
    - { key: readability-identifier-naming.ClassCase, value: aNy_CasE }
    - { key: readability-identifier-naming.StructCase, value: aNy_CasE }
    - { key: readability-identifier-naming.FunctionCase, value: aNy_CasE }
    - { key: readability-identifier-naming.ClassMethodCase, value: aNy_CasE }
    - { key: readability-identifier-naming.VariableCase, value: aNy_CasE }
    - { key: readability-identifier-naming.ParameterCase, value: aNy_CasE }
    - { key: readability-identifier-naming.PrivateMemberCase, value: aNy_CasE }
    - { key: readability-identifier-naming.ProtectedMemberCase, value: aNy_CasE }
    - { key: readability-identifier-naming.PublicMemberCase, value: aNy_CasE }
